a.header_post_link {
	display: flex;
    justify-content: space-between;
    align-items: center;
	text-align: center;
	text-decoration: none;
	width: 120px;
	padding: 1rem 4rem;
    margin-left: 30px;
	font-weight: bold;
	background: #eee;
	color: #4e4449;
	border-radius: 100vh;
	position: relative;
	transition: 0.5s;
}
a.header_post_link::before {
	content: '';
	position: absolute;
	top: calc(50% - 2px);
	right: 1em;
	transform: translateY(calc(-50% - 2px)) rotate(45deg);
	width: 10px;
	height: 1px;
	background: #4e4449;
}
a.header_post_link::after {
	content: '';
	position: absolute;
	top: 50%;
	right: 1em;
	transform: translateY(-50%);
	width: 50px;
	height: 1px;
	background-color: #4e4449;
}
a.header_post_link:hover {
	background: #4e4449 50%;
	color: #4e4449;
}